{% extends 'base.html' %}

{% block title %}Questions{% endblock title %}

{% block content %}
  {% for article in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span> &middot;
        <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
      </div>
      <div class="card-body">
        <p>{{ article.body }}</p>
        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}">Delete </a>| 
        <a href="{% url 'answer_list' %}"> Answer</a>
        
      </div>
      <div class="card-footer">
        {% for article in object_list %}
          <p>
            <span class="font-weight-bold">{{ article.title }}</span> &middot;
            <span class="text-muted">by {{ article.author }}

            <p>Answering the question '{{ article.article }}'</p>
            <p>{{ article.answer }}</p>
          </p>
        {% endfor %}
        </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}